@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--azul: #0179fe;
	--azulHover: #035bc0;
	--gris: #8f93a3;
	--paddingContenedor: 12px;
}
body {
	background: #141d30;
	color: white;
	font-family: 'Space Mono', monospace !important;
}
.bloque {
	background: #1f2a48;
}
.focus {
	background: #141d30;
}
main {
	width: 600px;
	margin: 40px auto 0;
}
header {
	display: flex;
}
header > h1 {
	font-weight: 600;
}
#buscador {
	border-radius: 20px;
	margin-bottom: 20px;
}
#buscador > form {
	display: flex;
	justify-content: space-between;
	padding: var(--paddingContenedor);
}
#buscador > form > img {
	width: 25px;
}
#buscador > form > input {
	outline: none;
	background-color: transparent;
	border: none;
	width: 100%;
	margin: 0 10px;
	color: white;
	font-family: 'Space Mono', monospace !important;
}
#buscador > form > input::placeholder {
	color: var( --gris );
}
#buscador > form > button {
	background-color: var( --azul );
	border: none;
	color: white;
	font-family: 'Space Mono', monospace !important;
	width: 130px;
	height: 50px;
	border-radius: 10px;
	font-weight: 700;
	letter-spacing: 0.05em;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition:    all 0.2s ease-out;
	-o-transition:      all 0.2s ease-out;
	transition:         all 0.2s ease-out;
}
#buscador > form > button:hover {
	background-color: var(--azulHover);
}



#usuario {
	padding: var(--paddingContenedor);
	border-radius: 20px;
}
#usuario .principal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}
#usuario .principal .imagen img {
	border-radius: 50%;
	width: 80px;
}
#usuario .principal .dataPrincipal {
	width: 75%;
}
#usuario .principal .dataPrincipal > * {
	margin: 0;
}
#usuario .principal .dataPrincipal > h2 {
	font-weight: 100;
	text-transform: capitalize;
	line-height: 1em;
}
#usuario .principal .dataPrincipal > p.arroba {
	color: var(--azul);
}
#usuario .informacion .numeros {
	margin-top: 20px;
	display: flex;
	padding: var(--paddingContenedor);
	border-radius: 10px;
	justify-content: space-around;
}
#usuario .informacion .numeros > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0;
}
#usuario .informacion .numeros > div > p {
	margin: 0;
}
#usuario .informacion .numeros > div > p.titulo {
	font-weight: 100;
}
#usuario .informacion .numeros > div > p.numero {
	font-weight: 600;
	font-size: 1.3em;
	margin-top: 10px;
}
#usuario .informacion .redes {
	margin-top: 20px;
}
#usuario .informacion .redes > div {
	display: flex;
}
#usuario .informacion .redes > div > img {
	width: 20px;
	margin-right: 15px;
}
#usuario .informacion .redes > div > p {
	margin: 8px 0;
}
#usuario .informacion .redes > div > p.notavailable {
	color: var(--gris);
}

@media ( max-width: 850px ) {
	main {
		width: 90%;
	}
	#buscador > form > input {
		font-size: .7em;
	}
	#usuario .principal .imagen {
		width: 15%;
		margin-right: 3%;
	}
	#usuario .principal .imagen > img {
		width: 100%;
	}
	#usuario .principal .dataPrincipal {
		width: 85%;
	}
}